# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Database
*.db
instance/

# Flask
instance/
.webassets-cache

# Migrations
migrations/versions/
migrations/__pycache__/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.idea/
.vscode/
*.swp
*.swo 